@import 'tailwindcss';

:root {
  --bgcolor-default: #0d1117;
  --bgColor-disabled: #212830;
  --bgColor-done-emphasis: #8957e5;
  --bgColor-done-muted: #ab7df826;
  --bgColor-emphasis: #3d444d;
  --bgColor-muted: #151b23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  background-color: #0d1117;
  color: white;
}

header {
  height: 5rem;
  background: black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

ul.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  li {
    margin: 10px;
  }
}

main {
  min-height: calc(100vh - calc(80px));
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  margin: 30px 50px 80px;
}

footer {
  background-color: black;
  height: 10rem;
}

ul.footer-links {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

@import 'tailwindcss/preflight';
@tailwind utilities;

.project-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6;
}
/* .project-container {
  @apply flex flex-wrap gap-6 justify-center;
} */

/* Estilos para os projetos */
.project-card {
  @apply flex bg-gray-100 my-12 p-4 rounded-lg shadow-md;
  /* @apply w-full sm:w-[48%] lg:w-[30%] xl:w-[22%]; */
}

.project-image {
  @apply w-24 h-24 rounded-lg object-cover;
}

.project-content {
  @apply ml-4 flex flex-col justify-between;
}

.project-title {
  @apply text-lg font-semibold text-black;
}

.project-description {
  @apply text-sm text-gray-600;
}

.project-tags {
  @apply mt-2 flex flex-wrap gap-2;
}

.project-tag {
  @apply px-4 py-2 text-xs font-semibold rounded;
}

.project-updated {
  @apply text-xs text-gray-500 mt-2;
}

/* Estilos para as tags */
.react {
  @apply bg-blue-100 text-blue-600;
}

.nextjs {
  @apply bg-gray-900 text-gray-100;
}

.springboot {
  @apply bg-green-300 text-green-600;
}

.java {
  @apply bg-red-300 text-red-600;
}

.rust {
  @apply bg-gray-400 text-gray-700;
}

.golang {
  @apply bg-blue-300 text-blue-600;
}

.firebase {
  @apply bg-yellow-300 text-yellow-600;
}

.postgresql {
  @apply bg-blue-300 text-blue-600;
}

.mongodb {
  @apply bg-green-300 text-green-600;
}

.tailwindcss {
  @apply bg-cyan-300 text-cyan-600;
}
