ai-generated/blog/*
blog/attachments/*
blog/images/*
general/*
projects/content/*
projects/documents/*
projects/images/*
projects/videos/*
users/profiles/*
users/resumes/*
testimonials/avatars/*


ai-generated/blog/!.gitkeep
blog/attachments/!.gitkeep
blog/images/!.gitkeep
general/!.gitkeep
projects/content/!.gitkeep
projects/documents/!.gitkeep
projects/images/!.gitkeep
projects/videos/!.gitkeep
testimonials/avatars/!.gitkeep
users/profiles/!.gitkeep
users/resumes/!.gitkeep

!.gitkeep
!.gitignore
